body{
    background-color:hsl(217, 54%, 11%)
}
.firstSection{
    background-color: hsl(216, 50%, 16%);
    width: 375px;
    text-align: left;
    margin: auto;
    padding-top: 50px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 60px;
    
}
div.content{
    margin-left: 10px;
    margin-right:10px;
}
p{
    display:inline-block;
    color:hsl(215, 51%, 70%);
    font-size: 18px;
}
p.eth{
    color:hsl(178, 100%, 50%);
    /*position: relative;
    right:80px;*/

}
/*img.ethImg{
    position: relative;
    right:80px;*/
}
span.timeLeft{
    position: absolute;
    right:50px;

}
.image1{
    display:flex ;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 85%;
    max-width: 85%;
    border-radius: 10px;
    /*position: relative;
    align-content: center;*/
}
h3.word1{
    color: #ffff;

}

.jules{
    color: aliceblue;
}
}
.avatar{
    position:relative;
    right: 70px;;
}